@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  background: #161513;
  color: white;
  font-family: 'outfit';
}


/* styles.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ff9a9e, 0 0 10px #fad0c4, 0 0 15px #fad0c4;
  }
  50% {
    box-shadow: 0 0 20px #ff9a9e, 0 0 30px #fad0c4, 0 0 40px #fad0c4;
  }
  100% {
    box-shadow: 0 0 5px #ff9a9e, 0 0 10px #fad0c4, 0 0 15px #fad0c4;
  }
}

.animate-glow {
  animation: glow 2s infinite alternate;
}

/* In your CSS file (e.g., styles.css) */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.1);
  }
}

.animated-border {
  animation: glow 2s infinite ease-in-out;
}

.long-border-radius {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.border-glow-orange {
  background-color: rgb(255, 55, 0);
}

.border-glow-yellow {
  background-color: yellow;
}

.border-glow-blue {
  background-color: blue;
}

.border-glow-skyblue {
  background-color: skyblue;
}

.border-glow-red {
  background-color: rgb(9, 6, 155);
}

.border-glow-grey {
  background-color: grey;
}
/* In your CSS file (e.g., styles.css) */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-card {
  animation: fadeIn 0.5s ease-out;
}
/* In your CSS file */
.skill-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.skill-card {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}




